html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-weight: 3px;
    color: white;
    color-scheme: light dark;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(-45deg, #24147e, #1e135d, #3e2166, #216993);
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}
.body {
    background-size: 200%;
    background-position: 0% 0;
    background-attachment: fixed;
}
h1 {
    font-size: 60px;
    transition-duration: .5s;
    width: auto;
    /* max-width: 1000px; adjust this as needed */
    white-space: nowrap;
}
h1:hover {
    transform: scale(1.1);
    text-shadow: #171523;
}
h3 {
    font-size: 30px;
    color: #7260d5;
}
p {
    font-size: 25px;
    transition-duration: .5s;
}
.footer {
    text-align: right;
    color: #6e6d71;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 15px;
    /* background: #1b1743; */
    vertical-align: bottom;
    height: max-content;
}
p:hover {
    translate: 0px -3px;
    color: #ec4444;
}
h4 {
    font-size: 35px;
}
.check {
    color: #ec4444;
}
button {
    height: auto;
    width: 75px;
    border: none;
    box-shadow: 0px 0px 3px #17171a;
    color: #f6f5fa;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    background-image: linear-gradient(to top, #1b1743 0%, #352871 51%, #39328d 100%);
}
#more {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition-duration: .5s;
}
#more:hover {
    background-image: linear-gradient(to top, #606064 0%, #6e6d71 51%, #908f95 100%);
    translate: 0px -3px;
    color: #151414;
}
#back {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition-duration: .5s;
}
#back:hover {
    background-image: linear-gradient(to top, #606064 0%, #6e6d71 51%, #908f95 100%);
    translate: 0px -3px;
    color: #151414;
}
#shift {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #171523;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    background-image: linear-gradient(to top, #606064 0%, #6e6d71 51%, #908f95 100%);
    padding: 5px 10px;
    /* margin-bottom: 50px; */
}
::placeholder {
    color: #2f2b47;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.time {
    padding-top: 2%;
    font-size: 60px;
    text-shadow: 5px 5px 1px #171523;
}
.info {
    padding-bottom: 30px;
}
.container {
    height: 70%;
    width: auto;
    position: relative;
    background-color: #1e164e;
    box-shadow: 4px 4px 25px #151414;
    margin-top: 3%;
    margin-bottom: 50px;
    margin-left: 17%;
    margin-right: 17%;
    padding-bottom: 70px;
    transition: 0.5s;
    border-radius: 10px;
    box-sizing: inherit;
}
.container_all {
    height: 70%;
    width: auto;
    position: relative;
    background-color: #1e164e;
    box-shadow: 4px 4px 25px #151414;
    margin-top: 3%;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 70px;
    transition: 0.5s;
    border-radius: 10px;
}
.blocks {
    padding-inline: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    width: 26%;
    margin-top: 0;
    vertical-align: top;
    box-shadow: 4px 4px 10px #181624;
    height: max-content;
    margin-bottom: 0;
    padding-bottom: 3%;
    transition-duration: .5s;
}
.blocks:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 7px 7px#aa334b;
}
.blocks div h3 {
    padding-bottom: 5%;
    font-size: 35px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.blocks p {
    font-size: 30px;
}
.displays {
    height: 1.5em;
    width: 120px;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #1e164e;
    box-shadow: 4px 4px 25px #151414;
    /* padding: 10px; */
    color: white;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0;
}
.displays:hover {
    transform: scale(1.1);
    color: #ec4444;
}
.container:hover {
    transform: scale(1.03);
}
.container_all:hover {
    transform: scale(1.03);
}
.center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.error {
    padding-top: 20px;
    color: #ec4444;
    font-size: 30px;
}
