<!DOCTYPE html>
<html>
    <head>
        <title>AllDisplays</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <div class = "container_all">
        <div class = "center">
            <body>
                <h1>Time <a class = "check">Check</a> for All Shifts</h1>
                    <div class = "box_container" style = "display:flex">
                        <div class = "blocks" style = "margin-right:3%">
                            <div><h3>First</h3></div>
                            <div><p>{{ shift_info_1 }}</p></div>
                            <div><p>{{ percentage_1 }}</p></div>
                        </div>
                        <div class = "blocks" style = "margin-right:3%">
                            <div><h3>Second</h3></div>
                            <div><p>{{ shift_info_2 }}</p></div>
                            <div><p>{{ percentage_2 }}</p></div>
                        </div>
                        <div class = "blocks">
                            <div><h3>Third</h3></div>
                            <div><p>{{ shift_info_3 }}</p></div>
                            <div><p>{{ percentage_3 }}</p></div>
                        </div>
                    </div>
                <div>
                    <h3 id = "clock" class="time">{{ curr_time }}</h3>
                </div>
                <h3>
                    <form action="{{ url_for("index")}}" method="get">
                    <button type="back" id="back">Back</button>
                </h3>
                <script> setTimeout(
                    function() {
                        window.location.reload(1);
                    },
                    10000,
                );
                </script>
            </body>
        </div>
    </div>
    <div>
            <h5 class = "footer">&copy TC by Ali Burkemper</h5>
    </div>
</html>