<!DOCTYPE html>
<html>
 
<head>
    <title>TimeCheck</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
 
<div class = "container">
    <div class = "center">
        <body>
            <h1>Time <a class = "check">Check</a> for {{ shiftname }} Shift</h1>
            <h4>{{ shift_info }}</h4>
            <h4>{{ percentage }}</h4>
            <h3 class = "time">{{ curr_time }}</h3>
            <h3>
                <form action="{{ url_for("index")}}" method="get">
                <button type="back" id="back">Back</button>
            </h3>
        <!-- this section can be replaced by a child document -->  
        {% block body %}
        
        
        {% endblock %}
        
        
        </body>
    </div>
</div>

<h5 class = "footer">&copy TC by Ali Burkemper</h5>
 
</html>